@model List<Gallery.Business.Models.Category>

@{
    ViewData["Title"] = "All Categories";
}
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New Category</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 20%">
                    <a class="mb-3" asp-controller="Category" asp-action="Images" asp-route-categoryid="@item.ID">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
